@import "tailwindcss";

@theme {
  /* Link Tailwind to the Next.js Font Variables */
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui;
  --font-display: var(--font-poppins), system-ui;

  /* Custom Brand Colors */
  --color-navy: #0b2545;
  --color-green: #2e9e6f;
  --color-orange: #ffa500;
  --color-pearl: #fff5e6;
  --radius-5xl: 3rem;
}
@layer components {
  .impact-section {
    @apply text-center px-0 sm:px-6 lg:px-4 w-full sm:max-w-120 md:max-w-150 lg:max-w-175 mx-auto;
  }
  .impact-para {
    @apply text-sm sm:text-[14px] md:text-[17px] xl:text-lg leading-relaxed;
  }
  .impact-heading {
    @apply text-2xl sm:text-3xl md:text-2xl xl:text-3xl 2xl:text-[44px] leading-tight;
  }

  .main-container {
    @apply w-full mx-auto px-4 sm:px-8 lg:px-12 xl:px-16  2xl:px-20  max-w-[1920px];
  }
}
/* --- Base Resets & Global Styles --- */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    /* Uses the Open Sans variable mapped above */
    font-family: var(--font-open-sans), sans-serif;
    color: #000000;
    /* background-color: #f5f9ff; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Headings automatically use Poppins */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins), sans-serif;
  }
  /* Chrome, Safari */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* IE/Edge (old) */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
